language: node_js
node_js:
  # - "node"
  # - "lts/*"
  - "8"
  # - "7"
  # - "6"
  # - "5"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_success:
  - npm run coveralls